@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sep-line{
    height: 20px;
}
a {
    text-decoration: none;
    color : white;
    font-family: 'Ubuntu', sans-serif;;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 0.5s linear;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
a:hover {
    color: black;
    background-color: white;
    transition: all 0.5s linear;
}
.head{
    position: relative;
    background: radial-gradient(circle, rgba(0,0,0, 0.9) 0%, rgba(0,0,0,0.5) 100%) , url("./Images/food_head.jpg") ;
    background-position: -20px -400px;
    width: 100%;
    height: 65vh;
    background-size: cover;
}
.nav{
    position: absolute  ;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    width: 60vw;
}
.logo img{
    position: absolute  ;
    width: 300px;
    height: 300px;
    top: 22%;   
    left: 50%;
    transform: translate(-50%, 0%);
    filter: brightness(110%);
    filter: contrast(200%);
}
.main{
    background:  url("./home_photos/content.jpg");
    background-position: 0px 80%;
    width: 100%;
    height: 65vh;
    background-size: cover;
}
.main-btn{
    color: black;
    background-color: white;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 10% ; 
    width: 10%;
    height: 8%;
    border: 2px solid black;
    border-radius: 1.25rem;
    transition: all 0.3s ;

}
.main-btn:hover{
    color: rgb(255, 68, 0);
    background-color: white;
    font-size: 30px;
    transition: all 0.3s ;
}
.text{
    font-family: "Varela Round";
    margin-left: 10%;
    padding-top: 5%;
    font-size: 3rem;
    width: 31%;
}
span{
    color: orangered;
}
.info{
    background-image: url("./home_photos/info.jpg");
    background-size: cover;
    width: 100%;
    height: 65vh;

}
.info-container{
    display: flex;
    justify-content: right; 
}
.info-text{
    padding-right: 10%;
    padding-top: 8%;
    font-family: "Varela Round";
    font-size: 4rem;
    max-width: 40%;
}
.bmi{
    background:radial-gradient(circle, rgba(0,0,0, 0.1) 0%, rgba(255,255,255,0.25) 30%) , url("./home_photos/BMI.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: 0px 50%;
    
}
.bmi-text{
    font-family: "Varela Round";
    font-size: 60px ;
    display: flex;
    justify-content: space-between;
    padding-top: 13%;
    padding-left: 5%;
    padding-right: 5%;
}
.bmi-btn{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 1.25rem;
    transition: all 0.3s ;

}
.bmi-btn:hover{
    color: rgb(255, 68, 0);
    background-color: white;
    font-size: 30px;
    transition: all 0.3s ;
}
.info-btn{
    position: absolute;
    color: black;
    background-color: white;
    margin-left: 50%;;
    margin-top: 1%;
    border: 2px solid black;
    border-radius: 1.25rem;
    transition: all 0.3s ;

}
.info-btn:hover{
    color: orangered;
    font-size: 30px;
    transition: all 0.3s ;
}
.nick{
    background: radial-gradient(circle, rgba(0,0,0, 0.1) 0%, rgba(255,255,255,0.3) 30%) ,url("./home_photos/nick.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    font-family: "Varela Round";
    font-size: 50px;
}
.nick-text{
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 25%;
}
.nick-btn{
    position: absolute;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 1.25rem;
    margin-left: 10%;
    margin-top: 1%;
    transition: all 0.3s ;
}
.nick-btn:hover{
    color: orangered;
    font-size: 30px;
    transition: all 0.3s ;
}
.about{
    position: relative;
    width: 100%;
    height: 55vh;
    color: black;
    background-size: cover;
    font-family: "Ubuntu";
    z-index: -1;
}
.about-text{
    padding-top: 5%;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    letter-spacing: 1px;
    word-spacing: 2px;

}
.about span{
    font-size: 40px;
}
.about img{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 5%;   
    left: 50%;
    transform: translate(-50%, 0%);
    filter: grayscale(100%) blur(3px) ;
    z-index: -1;
}
.hidden{
    display: none;
}